In [14]:
 import pyspark

In [2]:
#read file
import pandas as pd

In [15]:
print(pyspark.__version__)

3.5.1

In [3]:
#pandas 
pd.read_csv("test1.csv")

      Name  Age
0  Vaibhav   26
1    Krish   31
2     Suny   29
3   Rohit    24
4   Arpit    23
5  Twinken   23
6    Harsh   21

In [4]:
#pyspark
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName('Practise').getOrCreate()

In [5]:
spark

In [6]:
df_pyspark = spark.read.csv('test1.csv')

In [7]:
df_pyspark.show()

+-------+---+
|    _c0|_c1|
+-------+---+
|   Name|Age|
|Vaibhav| 26|
|  Krish| 31|
|   Suny| 29|
| Rohit | 24|
| Arpit | 23|
|Twinken| 23|
|  Harsh| 21|
+-------+---+

In [8]:
#read file
df_pyspark=spark.read.option('header','true').csv('test1.csv')

In [10]:
df_pyspark.show()

+-------+---+
|   Name|Age|
+-------+---+
|Vaibhav| 26|
|  Krish| 31|
|   Suny| 29|
| Rohit | 24|
| Arpit | 23|
|Twinken| 23|
|  Harsh| 21|
+-------+---+

In [11]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [12]:
df_pyspark.head(3)

[Row(Name='Vaibhav', Age='26'),
 Row(Name='Krish', Age='31'),
 Row(Name='Suny', Age='29')]

In [13]:
df_pyspark.printSchema()#info

root
 |-- Name: string (nullable = true)
 |-- Age: string (nullable = true)