. PySpark Dataframe\
. Reading The Dataset\
. Checking the Datatypes of the Column(Schema)\
. Selecting Columns and Indexing\
. Check Describe option similar to Pandas
. Adding Columns
. Dropping columns

In [1]:
import pyspark

In [2]:
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName('Dataframe').getOrCreate()

In [3]:
spark

In [4]:
#read the dataset
spark.read.option('header','true').csv('test1.csv').show()

+-------+---+----------+
|   Name|Age|Experience|
+-------+---+----------+
|Vaibhav| 26|         3|
|  Krish| 31|         4|
|   Suny| 29|         5|
| Rohit | 24|         1|
| Arpit | 23|         1|
|Twinken| 23|         2|
|  Harsh| 21|         0|
+-------+---+----------+

In [6]:
df = spark.read.option('header','true').csv('test1.csv')

In [9]:
##check the schema
df.printSchema()
# find that Age ans Experience is taken as string we have to change that

root
 |-- Name: string (nullable = true)
 |-- Age: string (nullable = true)
 |-- Experience: string (nullable = true)

In [10]:
df = spark.read.option('header','true').csv('test1.csv',inferSchema=True)

In [11]:
df.printSchema()
# Now its correct

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)

In [12]:
#read_2
df1 = spark.read.csv('test1.csv',header=True,inferSchema=True)
df1.show()

+-------+---+----------+
|   Name|Age|Experience|
+-------+---+----------+
|Vaibhav| 26|         3|
|  Krish| 31|         4|
|   Suny| 29|         5|
| Rohit | 24|         1|
| Arpit | 23|         1|
|Twinken| 23|         2|
|  Harsh| 21|         0|
+-------+---+----------+

In [13]:
df1.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)

In [14]:
#type
type(df)

pyspark.sql.dataframe.DataFrame

In [15]:
type(df1)

pyspark.sql.dataframe.DataFrame

In [17]:
#selecting columns 
df1.columns

['Name', 'Age', 'Experience']

In [19]:
df1.select('Name').show() #single column

+-------+
|   Name|
+-------+
|Vaibhav|
|  Krish|
|   Suny|
| Rohit |
| Arpit |
|Twinken|
|  Harsh|
+-------+

In [22]:
#multiple column
df1.select(['Name','Age']).show()
df1.select(['Name','Experience']).show()

+-------+---+
|   Name|Age|
+-------+---+
|Vaibhav| 26|
|  Krish| 31|
|   Suny| 29|
| Rohit | 24|
| Arpit | 23|
|Twinken| 23|
|  Harsh| 21|
+-------+---+

+-------+----------+
|   Name|Experience|
+-------+----------+
|Vaibhav|         3|
|  Krish|         4|
|   Suny|         5|
| Rohit |         1|
| Arpit |         1|
|Twinken|         2|
|  Harsh|         0|
+-------+----------+

In [25]:
#check the datatype
df1.dtypes

[('Name', 'string'), ('Age', 'int'), ('Experience', 'int')]

In [27]:
#describe
df1.describe()

DataFrame[summary: string, Name: string, Age: string, Experience: string]

In [28]:
df1.describe().show()

+-------+-------+------------------+------------------+
|summary|   Name|               Age|        Experience|
+-------+-------+------------------+------------------+
|  count|      7|                 7|                 7|
|   mean|   NULL|25.285714285714285|2.2857142857142856|
| stddev|   NULL|3.5923198500080566| 1.799470821684875|
|    min| Arpit |                21|                 0|
|    max|Vaibhav|                31|                 5|
+-------+-------+------------------+------------------+

In [32]:
## adding Columns in a datafram
dfu = df1.withColumn('Experience After 2 year',df1['Experience']+2)

In [33]:
dfu.show()

+-------+---+----------+-----------------------+
|   Name|Age|Experience|Experience After 2 year|
+-------+---+----------+-----------------------+
|Vaibhav| 26|         3|                      5|
|  Krish| 31|         4|                      6|
|   Suny| 29|         5|                      7|
| Rohit | 24|         1|                      3|
| Arpit | 23|         1|                      3|
|Twinken| 23|         2|                      4|
|  Harsh| 21|         0|                      2|
+-------+---+----------+-----------------------+

In [34]:
## Drop the columns
dfu = dfu.drop('Experience After 2 year')
dfu.show()

+-------+---+----------+
|   Name|Age|Experience|
+-------+---+----------+
|Vaibhav| 26|         3|
|  Krish| 31|         4|
|   Suny| 29|         5|
| Rohit | 24|         1|
| Arpit | 23|         1|
|Twinken| 23|         2|
|  Harsh| 21|         0|
+-------+---+----------+

In [35]:
#### Rename the column
dfu = dfu.withColumnRenamed('Name','New Name')
dfu.show()

+--------+---+----------+
|New Name|Age|Experience|
+--------+---+----------+
| Vaibhav| 26|         3|
|   Krish| 31|         4|
|    Suny| 29|         5|
|  Rohit | 24|         1|
|  Arpit | 23|         1|
| Twinken| 23|         2|
|   Harsh| 21|         0|
+--------+---+----------+